/* components/shoelace/icon/icon.css */
.sl-icon {
  display: inline-block;
  line-height: 1;
  color: var(--sl-color-neutral-900, var(--body-text));
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.sl-icon--small {
  width: 0.75em;
  height: 0.75em;
}
.sl-icon--large {
  width: 1.5em;
  height: 1.5em;
}
