{
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": ["*.vue", "*.html"],
      "options": {
        "printWidth": 300
      }
    }
  ],
  "printWidth": 500,
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "ignore",
}

