<!doctype html>
<html lang="en" data-theme="dark">
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<title>Dashboard</title>
<favicon href="/favicon.ico" type="image/png" />

<script type="module" src="../node_modules/@shoelace-style/shoelace/dist/shoelace.js"></script>
<script data-fa-kit-code="38c11e3f20" type="module" src="https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/webawesome.loader.js"></script>

<link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/styles/webawesome.css">
<link rel="stylesheet" href="../styles/index.css" />
</head>



<!-- App entry -->
<script type="module" src="../scripts/dashboard.js"></script>
</body>
</html>
