    <sl-drawer label="W3hubs" placement="left" class="drawer-placement-left">
      <sl-menu>
        <sl-menu-item>
          <sl-icon slot="prefix" name="link-45deg"></sl-icon>
          Link 1
        </sl-menu-item>
        <sl-menu-item>
          <sl-icon slot="prefix" name="link-45deg"></sl-icon>
          Link 2
        </sl-menu-item>
        <sl-menu-item>
          <sl-icon slot="prefix" name="link-45deg"></sl-icon>
          Link 3
        </sl-menu-item>
        <sl-menu-item>
          <sl-icon slot="prefix" name="link-45deg"></sl-icon>
          Link 4
        </sl-menu-item>
        <sl-menu-item>
          <sl-icon slot="prefix" name="link-45deg"></sl-icon>
          Link 5
        </sl-menu-item>
        <sl-menu-item>
          <sl-icon slot="prefix" name="link-45deg"></sl-icon>
          Link 6
        </sl-menu-item>
        <sl-menu-item>
          <sl-icon slot="prefix" name="link-45deg"></sl-icon>
          Link 7
        </sl-menu-item>
         <sl-menu-item>
          <sl-icon slot="prefix" name="link-45deg"></sl-icon>
          Link 8
        </sl-menu-item>
         <sl-menu-item>
          <sl-icon slot="prefix" name="link-45deg"></sl-icon>
          Link 9
        </sl-menu-item>
         <sl-menu-item>
          <sl-icon slot="prefix" name="link-45deg"></sl-icon>
          Link 10
        </sl-menu-item>
      </sl-menu>
    </sl-drawer>
    <sl-button>Open Drawer</sl-button>
    <script>

    </script>